<h1>Listing walets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @walets.each do |walet| %>
  <tr>
    <td><%= link_to 'Show', walet %></td>
    <td><%= link_to 'Edit', edit_walet_path(walet) %></td>
    <td><%= link_to 'Destroy', walet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Walet', new_walet_path %>
