<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Your Bits</h2>
<ul>
  <li><%=@bit.event.title %>&times; <%=@bit.sum%> 
       <%= link_to 'Edit', edit_bit_path(id: @bit.id) %> 
  </li>
  
</ul>
